
.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  color:#e2e2d8;
  text-shadow: 5px 5px 10px black;
  text-align:center;
  text-decoration: none;
}
.log{
  width:100%;
}
  
  @media (min-width:1000px) {
    
 
    .log{
        margin-top: 170px !important;
        background-color: white;
        border:1px solid  #f0f2f5;
        padding-bottom: 120px !important;
        width:100%;
    }
    .contDim{
      height:600px;
      width:500px;
    }
}
body{
    background-color: #eeeef1 !important;
}
.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 600;
  font-style: normal;
  color:white;
  text-align: center;
  font-size: x-large;
}

  #login,#signUp,.bg,.navbar{
    background: radial-gradient(hsl(323, 56%, 64%), #9198e5);
  }
  #login{
    align-content:center;
    margin-left: 25%;
    width:230px;
  }
  .ac{
    margin-top:25%
  }
  .dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color:#9198e5;
    text-shadow: 5px 5px 10px #E6ADBC;
  }
  .nav-item a, .nav-link{
    color:white;
    text-decoration: none;
    font-weight:bold;
    float:right;
  }
  .dropdown-item{
    color:black;
  }
  #letter{
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    height: 80px;
    width:80px;
    float:right;
  }
  #letter:hover{
    transform: scale(1.1);
    opacity:0.5;
  }
  .topStyle{
    background: radial-gradient(hsl(323, 56%, 64%), #9198e5);
    border-radius: 0 0 30% 0;
  }
  .img,.img1{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:100%;
    width:100px;
    height:100px;
    position: relative;
  }
  .img{
  bottom: -150px;
  }
  #rName{
    margin-top:5rem;
  }
  #title{
    padding-left: 10px;
    padding-top: 70px;
  }
  .box{
    border: 1px solid white;
    box-shadow: 5px 5px lightgray ;
    background-color: white;
    margin-top:70px;
  }
  .img1{
    top:-50px;
  }

