.nav-brand{
  background-color: #4c60da;
}
.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  color:#e2e2d8;
  text-shadow: 5px 5px 10px black;
  text-align:center;
  text-decoration: none;
}
.log{
  width:100%;
}
body, html { overflow-x: hidden; }
  
  @media (min-width:1000px) {
    
    .log{
        margin-top: 170px !important;
        background-color: white;
        border:1px solid  #f0f2f5;
        padding-bottom: 120px !important;
        width:100%;
    }
    .contDim{
      margin-top:-10px;
      height:700px;
      width:500px;
    }
    #title{
      padding-top:0px !important;
    }
    #user{
      height:50px;
    }
    .wrapper{
    margin-left: 1.5rem !important;
    }
    
}


@media (max-width:768px) {
  #catlist{
    height:68vh !important;
    border:none !important;
    margin-bottom: 200px;
  }

  #list{
    border:none !important;
  }
  .nav-bar {
    flex-basis: auto;
    flex-wrap: wrap;
  }
  #navmenu .dropdown-item {
    float: left !important;
        margin-left: -200px !important;
    }
  }
  
body{
    background-color:#ede8e8 !important;
}
.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 600;
  font-style: normal;
  color:white;
  text-align: center;
  font-size: x-large;
}

  #login,#signUp,.bg{
    background: radial-gradient(hsl(323, 56%, 64%), #9198e5);
  }
  .navbar,footer{
    background: #6777ef;
  }
  #login{
    align-content:center;
    margin-left: 25%;
    width:230px;
  }
  .ac{
    margin-top:25%
  }
  .dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color:#9198e5;
    text-shadow: 5px 5px 10px #E6ADBC;
  }
  .detst{
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color:#9f6842;
    text-shadow: 5px 5px 10px #E6ADBC;
  }
  .nav-item a, .nav-link{
    font-size: 20px;
    text-decoration: none;
    float:right;
  }
  .dropdown-item{
    color:black;
  }
  #letter{
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    height: 80px;
    width:80px;
    float:right;
  }
  #letter:hover{
    transform: scale(1.1);
    opacity:0.5;
  }
  .topStyle{
    background: radial-gradient(hsl(323, 56%, 64%), #9198e5);
    border-radius: 0 0 30% 0;
  }
  .img,.img1{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:100%;
    width:100px;
    height:100px;
    position: relative;
  }
  .img1{
    width:200px !important;
    height:200px !important;
  }
  .img{
  bottom: -150px;
  }
  #rName{
    margin-top:5rem;
  }
  #title{
    padding-left: 10px;
    padding-top: 70px;
  }
  .cardHeight{
    height:100px !important;
  }
  .box{
    border: 1px solid white;
    box-shadow: 5px 5px lightgray ;
    background-color: white;
    margin-top:70px;
  }
  .img1{
    top:-50px;
  }
  .dropdown-menu.show {
    margin-left:80%;
}
#todoData::placeholder, #deadline::placeholder{
  color:black;
}
.dropdown-toggle::after {
  font-size: 20px !important;
}
.text-gray-800{
  color:#5a5c69 !important;
  padding-top: 10px;
}
#cat{
  text-align: center;
  margin-bottom:50px !important;
}
iframe{
  height:500px;
}
/* #catlist,#list{
  border-right:2px double black;
  height:100vh;
} */
#catError{
  margin-top: -50px !important;
}
.over{
  height:100px;
  padding-top:30px !important;
  font-size:25px !important;
  margin-top:15px;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color:black !important;
}
#navLink{
  font-weight: bold;
}
#navLink .nav-link:hover{
  transform: scale(1.1);
  color: #d3cfcf !important;
}
footer{
  width:100vw;
}
footer .h5{
 background-color: #4c60da;
}
.wrapper{
  background-color: white !important;
  position: relative;
  overflow-y: scroll;
  margin-bottom:20px;
}